# 8.	Assignment on regression using KNN: Build an application where it can predict a price of a house using KNN.

In [12]:
# Importing Dependencies
import pandas as pd    # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as mlt
import numpy as np     # li8.	Assignment on regression using KNN: Build an application where it can predict a price of a house using KNN.near algebra
dataset=pd.read_csv('USA_housing.csv')

In [13]:
dataset.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [14]:
# Number of observations and missing values. 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [15]:
# # Split data into a training set and a testing set.
# from sklearn.model_selection import train_test_split
# train,test=train_test_split(dataset,test_size=0.3)

In [16]:
x=dataset[['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms',
           'Area Population']]
# Price is my Target Variable, what we trying to predict
y=dataset['Price']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=101)

In [19]:
from sklearn import neighbors
from sklearn.metrics import mean_squared_error
from math import sqrt

In [20]:
model=neighbors.KNeighborsRegressor(n_neighbors=3)
model.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [21]:
#Predict Test Set Results
pred=model.predict(x_test)
print(pred)

[1349663.22935164  991374.81009146 1358246.83933575 ...  566394.55938889
 1355498.4156437  1721194.41538434]

Evaluate Model Performance :

In [22]:
error=sqrt(mean_squared_error(y_test,pred))
print('Error : ',error)

Error :  266271.02786350256